.Tile {
  display: flex;
  margin: 8px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #555;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .Tile {
    flex: 1;
    min-width: calc(33.333% - 16px);
  }
}
