.Tile {
  display: flex;
  margin: 8px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #555;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .Tile {
    flex: 1 1 calc(50% - 16px);
  }
}

@media only screen and (min-width: 1024px) {
  .Tile {
    flex: 1 1 calc(33.333333% - 16px);
  }
}
