.TopBar {
  height: 68px;
  box-shadow: 0 8px 6px -6px #eee;
  background-color: #fff;
}

.TopBar__logo {
  text-align: left;
  position: absolute;
  top: 0;
  margin: 8px;
}

.TopBar__title {
  text-align: center;
  color: #81b7d1;
  font-size: 20px;
  line-height: 68px;
}

@media only screen and (min-width: 768px) {
  .TopBar__title {
    font-size: 26px;
  }
}
