.Wind {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Wind__header {
  display: flex;
  justify-content: space-between;
}

.Wind__header div {
  margin: 20px;
  font-size: 26px;
}

.Wind__header div:last-child {
  text-align: right;
}

.Wind__header span {
  display: block;
  font-size: 12px;
}

.Wind__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Wind__content:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.Wind__content-square {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
