.Tile {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
  margin: 6px;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .Tile {
    flex: 1;
    min-width: 45%;
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .Tile {
    min-width: 30%;
    width: auto;
  }
}
